---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  links: { type: "live" | "source"; url: string }[];
  thumbnails: { type: "image" | "video"; src: string; alt?: string };
}

const { links, thumbnails, name } = Astro.props;
---

<div class="space-y-4">
  <div class="group relative aspect-video">
    {
      thumbnails.type === "video" ? (
        <video
          src={thumbnails.src}
          autoplay
          loop
          controls
          class="h-full w-full object-contain transition-all group-hover:brightness-80 group-hover:blur-[1px]"
        />
      ) : (
        <img
          src={thumbnails.src}
          class="h-full w-full object-cover transition-all group-hover:brightness-80 group-hover:blur-[1px]"
          alt={thumbnails.alt}
        />
      )
    }

    <div
      class="absolute bottom-0 left-0 flex w-full justify-end gap-2 p-4 opacity-0 transition-opacity group-hover:opacity-100"
    >
      {
        links.map((link) => {
          const text = link.type === "source" ? "Source" : "Website";
          const iconName = link.type === "source" ? "folder-open" : "globe";
          return (
            <a
              class="flex items-center gap-2 rounded-full bg-neutral-100 px-4 py-1 text-xs text-neutral-800 no-underline"
              href={link.url}
              target="_blank"
            >
              {text}

              <Icon name={`lucide:${iconName}`} />
            </a>
          );
        })
      }
    </div>
  </div>

  <div class="space-y-2">
    <h3>
      {name}
    </h3>

    <slot />
  </div>
</div>
