---
import "../styles/global.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "../components/LanguagePicker.astro";

interface Props {
  title?: string;
  description?: string;
}

const lang = getLangFromUrl(Astro.url);
const isBlogPage = Astro.url.pathname.startsWith("/blog");

const {
  title = "Ony",
  description = useTranslations(lang)("page.main.description"),
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1,2&f[]=general-sans@1&display=swap"
      rel="stylesheet"
    />

    <!-- umami analytics  -->
    <script
      defer
      is:inline
      src="https://umami.ony.world/script.js"
      data-website-id="90b3ae53-99b3-4f30-a940-49a210c8504b"></script>

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="overflow-hidden bg-neutral-100 text-neutral-800">
    <div
      id="loader"
      class="fixed inset-0 grid h-dvh place-items-center transition-opacity"
    >
      <div class="flex h-1 w-8 items-center rounded-full bg-neutral-200">
        <span class="block h-full w-2 rounded-full bg-neutral-900"></span>
      </div>
    </div>
    <main
      class="mx-auto max-w-xl px-6 opacity-0 transition-opacity duration-500 md:px-0"
    >
      <div class:list={["fixed right-4 bottom-4 z-50", { hidden: isBlogPage }]}>
        <LanguagePicker defaultLanguage={lang} />
      </div>
      <slot />
    </main>
  </body>
</html>

<style>
  @keyframes loader {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  #loader span {
    animation: loader 1.5s infinite;
  }
</style>

<script is:inline>
  const main = document.querySelector("main");
  const loader = document.getElementById("loader");

  window.addEventListener("load", () => {
    main.classList.remove("opacity-0");
    loader.classList.add("opacity-0");

    setTimeout(() => {
      loader.classList.add("hidden");
      document.body.classList.replace("overflow-hidden", "overflow-auto"); // Restore scroll after loader is hidden
    }, 500);
  });
</script>
